*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', Arial, sans-serif;
    
  /* outline: 2px solid red; */

}

body{
    background: linear-gradient(to bottom right, #eedd95,#ea9fde);
    
}


.navbar-links a{
     text-decoration: none;
     color: black;
     font-size:x-large;
     font-weight:bolder;
     font-family: 'Palatino';
}

.navbar{
    background: #ff6f6f;
    height: 3rem;
    padding-top: 10px;
    padding-left: 4rem;
    padding-right: 4rem;

    width: 100%;
 
    
    
}

.navbar-links{
   
    display: flex;
    justify-content: space-around;

    list-style: none;
    gap: 10px;
}



.navbar img{
    margin: -6px;
    width: 40px;
    padding: 5px;

}


.hero{
    display: flex;
    align-items: center;
  
   
}
.hero img{
    width: 50vw;
    height: 100vh;
    display: block;
  
}

.hero-content{
    padding: 6rem;
  
    line-height: 170%;
  letter-spacing: 1px;

}

#hero-heading{
  letter-spacing: 3px;
  font-size:clamp(30px,3vw,70px);
  font-weight:bold;
  margin-bottom: 5rem;
}


.hero-button{
   background: #ff6f6f;
   border: none;
   width:15vw;
   height:7vh;
   color: white;
   margin-top: 4rem;
   cursor: pointer;

}







@media (max-width: 1024px) {

  

  .navbar{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-links {
    justify-content: space-between;
    padding: 0 20px;
  }

  
  .hero {
    flex-direction: column;
    text-align: center;
    
  }
  .hero-content{
    padding: 1rem;
    font-size: larger;
    
  }
  #hero-heading{
    margin-bottom: 1rem;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  .hero-button {
    width: 30vw;
    height: 6vh;
    margin-top: 1rem;
  }

  
  
}

/* mobile screen */
@media (max-width: 600px) {

  .navbar {
    height: auto;
    padding: 10px;
   
    
  }

  .navbar-links {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }

  /* navbar orientation in mobile screen is not mentioned */

 
  .hero {
    flex-direction: column;
    padding: 1rem;
  }

  .hero-content {
    padding: 1rem;
  }

  #hero-heading{
     margin-bottom: 1rem;
  }

  .hero-button {
    width: 60vw;
    height: 6vh;
       margin-top: 1rem;
  }

  

   
}
